.restaurant-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 65vh;

  .restaurant-body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../assets/background/restaurant-background.jpg) center
      left;
    background-size: cover;
    padding: 2em 0 5em 0;

    .restaurant-category {
      width: 75%;
      margin-top: 3em;

      @media screen and (max-width: 2100px) {
        width: 80%;
      }
      @media screen and (max-width: 1625px) {
        width: 85%;
      }
      @media screen and (max-width: 1000px) {
        width: 90%;
      }
      @media screen and (max-width: 800px) {
        width: 95%;
      }

      .overall-rate {
        font-weight: bold !important;
      }
    }
  }
}
