.review-preview {
  width: 100%;
  display: flex;
  padding: 1.5em 1.25em 1.5em 0.5em;
  background: rgba(255, 255, 255, 0.75);
  margin-bottom: 1em;
  border-radius: 5px;

  @media screen and (max-width: 835px) {
    padding: 1.75em 0.75em 1.75em 0.5em;
  }

  .card-header {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1.5em;

    @media screen and (max-width: 835px) {
      margin: 0 0.5em;
    }

    .header-avatar {
      padding-bottom: 0.5em;

      @media screen and (max-width: 600px) {
        padding-bottom: 0.25em;
      }

      .img-avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;

        @media screen and (max-width: 960px) {
          width: 108px;
          height: 108px;
        }

        @media screen and (max-width: 600px) {
          width: 75px;
          height: 75px;
        }
      }

      .font-avatar {
        padding: 1em;
        text-transform: uppercase;

        @media screen and (max-width: 960px) {
          padding: 0.9em;
        }

        @media screen and (max-width: 600px) {
          padding: 0.75em;
        }
      }
    }

    .header-user {
      color: rgb(75, 75, 75);
    }

    .header-user-data-container {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      color: #388e3c;

      @media screen and (max-width: 600px) {
        justify-content: space-around;
      }

      .user-data {
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.25em;
          font-size: 1rem;

          @media screen and (max-width: 600px) {
            font-size: 0.8rem;
            margin-right: 0.2em;
          }
        }
      }

      .header-user {
        color: #388e3c;
      }
    }
  }

  .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;

    .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -0.3em;

      @media screen and (max-width: 835px) {
        margin-bottom: 0.25em;
      }

      .header-info {
        display: flex;
        align-items: center;

        @media screen and (max-width: 835px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .review-date {
          margin-left: 0.5em;
          height: fit-content;
          font-weight: 400;
          color: rgb(32, 32, 32);

          @media screen and (max-width: 835px) {
            margin-top: 0.4em;
            margin-left: 0.15em;
          }
        }
      }

      .review-btn {
        height: fit-content;

        @media screen and (max-width: 835px) {
          margin-right: -0.5em;
          margin-top: -1.5em;
        }
      }
    }

    .content-body {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;

      .review-title {
        margin-top: 0.15em;

        @media screen and (min-width: 835px) {
          margin-top: 0.5em;
        }

        @media screen and (min-width: 960px) {
          margin-top: 0.65em;
        }
      }

      .review-body {
        margin: 0.2em 0 1em 0;
      }

      .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: fit-content;
        margin-bottom: 1em;

        .image-list {
          flex-wrap: nowrap;
          transform: translateZ(0);
          transition: all 0.4s ease 0s;
          height: 100%;
          width: 100%;

          li {
            height: auto !important;

            div {
              display: flex;
              align-items: center;

              img {
                height: 50px;
                width: 100%;
                object-fit: cover;

                @media screen and (min-width: 600px) {
                  height: 75px;
                }

                @media screen and (min-width: 960px) {
                  height: 100px;
                }

                @media screen and (min-width: 1200px) {
                  height: 125px;
                }

                @media screen and (min-width: 1500px) {
                  height: 150px;
                }

                @media screen and (min-width: 2000px) {
                  height: 175px;
                }

                @media screen and (min-width: 2400px) {
                  height: 220px;
                }

                &:hover {
                  opacity: 0.9;
                  cursor: pointer;
                }

                &:focus {
                  outline: none;
                  border: none;
                }
              }
            }
          }
        }
      }

      .review-more {
        margin-bottom: 0.3em;
      }

      .text-cap {
        text-transform: capitalize;
      }

      .review-helpful {
        margin-top: 0.75em;
      }
    }

    .card-actions {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .feedback {
        display: flex;
        align-items: center;

        .feedback-icon {
          font-size: 20px;
          margin-right: 0.2em;
        }

        .feedback-body {
          margin-left: 0.25em;
          color: #1b5e20;
        }
      }

      .helpful-btn,
      .report-btn {
        text-transform: none;
        height: fit-content;
      }
    }
  }
}
