.user-profile-page {
  margin: 3vh 4.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .profile-header {
    display: flex;
    padding: 1em;
    align-items: center;
    margin: 0.5em 0;
    justify-content: flex-start;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    .profile-header-1 {
      display: flex;
      align-items: center;
      width: fit-content;
      height: 100%;

      @media screen and (max-width: 900px) {
        width: 100%;
      }

      .user-avatar {
        width: auto;
        margin: 0.25em 1em 0.25em 0;
      }

      .user-info {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
      }
    }
    .profile-header-2 {
      display: flex;
      justify-content: flex-end;
      align-self: flex-start;
      width: 100%;

      .update-button {
        @media screen and (max-width: 900px) {
          margin-top: 1em;
          width: 100%;
        }
      }
    }
  }

  .profile-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: flex-start;
    margin: 0.5em 0 1.25em;

    .user-detail {
      display: flex;
      align-items: center;
      margin: 0.25em 0;

      svg {
        margin-right: 0.5em;
      }

      .info {
        margin-left: 0.4em;
      }

      .review-button {
        text-transform: none;

        &:hover {
          background-color: transparent;
          color: #004905;
        }
      }
    }
  }
}
