.update-restaurant-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em 5em;
  background: url(../../assets/background/create-restaurant-background.jpg)
    no-repeat center center;
  background-size: cover;

  .restaurant-success {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1400px) {
      width: 75%;
    }

    @media screen and (max-width: 900px) {
      width: 85%;
    }

    @media screen and (max-width: 800px) {
      width: 100%;
    }

    .restaurant-header {
      margin: 1.5em 0;

      .restaurant-name {
        font-weight: 600;
        font-size: larger;
        margin: 0 0.3em;
        font-style: italic;

        @media screen and (max-width: 900px) {
          font-weight: 500;
        }
      }
    }

    .restaurant-body {
      margin: 0.5em 0 1.52em 0;
      padding: 1.75em 1.5em 1.25em 1.5em;
      background: rgba(255, 255, 255, 0.5);
      text-align: left;
      width: fit-content;

      @media screen and (max-width: 900px) {
        margin-top: 0;
      }

      .restaurant-detail {
        color: rgba(0, 0, 0, 0.75);
        margin-bottom: 0.5em;
        overflow-wrap: break-word;

        .data-title {
          text-transform: capitalize;
          font-weight: 500;
        }
      }
    }

    .restaurant-actions {
      margin: 1.5em 0;
      width: 90%;

      @media screen and (max-width: 900px) {
        width: 100%;
      }

      h5 {
        margin-bottom: 0.5em;
      }

      .btn-next {
        width: 100%;
        margin: 0.5em 0;
      }
    }
  }
}
