.restaurant-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 15em;

  @media screen and (max-width: 1300px) {
    height: 12em;
  }
  @media screen and (max-width: 1150px) {
    height: 10.5em;
  }
  @media screen and (max-width: 1000px) {
    height: 9em;
  }

  .image-list {
    flex-wrap: nowrap;
    transform: translateZ(0);
    transition: all 0.4s ease 0s;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    .no-review {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100% !important;

      .review-btn {
        margin-top: 1em;
        width: fit-content;
      }
    }
  }
}
