.restaurant-intro-container {
  margin: 1em 0;

  .intro-container {
    width: 100%;
    background: transparent;

    .restaurant-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      @media screen and (max-width: 600px) {
        align-items: center;
      }

      .restaurant-image {
        height: 150px;
        width: 40%;
        border-radius: 5px;
        margin-right: 1em;
        object-fit: cover;

        @media screen and (max-width: 600px) {
          width: 45%;
          height: 120px;
        }
      }

      .restaurant-detail {
        width: 75%;

        @media screen and (max-width: 600px) {
          width: 65%;
          padding-bottom: 0;
        }
      }
    }
  }
}
