.restaurant-intro-container {
  margin: 1em 0;

  .intro-container {
    width: 100%;
    background: transparent;

    .restaurant-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      .restaurant-image {
        width: 10vw;
        border-radius: 5px;
        margin-right: 1em;

        @media screen and (max-width: 1700px) {
          width: 30%;
        }
        @media screen and (max-width: 700px) {
          width: 35%;
        }
        @media screen and (max-width: 645px) {
          width: 10em;
          height: 7.5em;
        }
        @media screen and (max-width: 625px) {
          width: 8.5em;
          height: 6.5em;
        }
      }

      .restaurant-detail {
        width: 75%;

        @media screen and (max-width: 750px) {
          width: 65%;
          padding-bottom: 0;
        }

        .restaurant-features {
          font-style: italic;
        }

        .restaurant-location {
          color: rgba(0, 0, 0, 0.75);

          @media screen and (max-width: 960px) {
            font-size: 0.9rem;
            line-height: 1.5;
          }
          @media screen and (max-width: 600px) {
            font-size: 0.827rem;
          }
        }
      }
    }

    .restaurant-action {
      position: absolute;
      margin-right: 0.3em;
      justify-content: flex-end;
      bottom: 0.5em;
      right: 2em;

      @media screen and (max-width: 750px) {
        position: relative;
        bottom: 0;
        right: 0;
      }
    }
  }
}
