.restaurant-intro-container {
  margin: 1em 0;

  .intro-container {
    width: 100%;
    background: transparent;

    .restaurant-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      @media screen and (max-width: 600px) {
        align-items: center;
      }

      .restaurant-image {
        height: auto;
        width: 40%;
        border-radius: 5px;
        margin-right: 1em;

        @media screen and (max-width: 750px) {
          width: 45%;
          height: auto;
        }
      }

      .restaurant-detail {
        width: 75%;

        @media screen and (max-width: 750px) {
          width: 65%;
          padding-bottom: 0;
        }
      }
    }

    .restaurant-action {
      position: absolute;
      margin-right: 0.3em;
      justify-content: flex-end;
      bottom: 0.5em;
      right: 2em;

      @media screen and (max-width: 750px) {
        position: relative;
        bottom: 0;
        right: 0;
      }
    }
  }
}
