.find-restaurant-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em 5em;
  background: url(../../assets/background/find-background.jpg) no-repeat center
    center;
  background-size: cover;

  @media screen and (max-width: 836px) {
    padding: 3em 1em 5em;
  }

  .find-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    min-width: 20em;

    @media screen and (max-width: 1250px) {
      width: 90%;
    }

    @media screen and (max-width: 1125px) {
      width: 100%;
    }

    h2 {
      margin: 0.67em 2em;
      text-align: center;

      @media screen and (max-width: 960px) {
        font-weight: 400;
      }

      @media screen and (max-width: 1814px) {
        margin: 0.67em 1.5em;
      }

      @media screen and (max-width: 1714px) {
        margin: 0.67em 1em;
      }
    }

    .find-restaurant-header {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
    }

    .find-restaurant-body {
      width: 80%;

      @media screen and (max-width: 1000px) {
        width: 90%;
      }
      @media screen and (max-width: 697px) {
        width: 95%;
      }
      @media screen and (max-width: 556px) {
        width: 97%;
      }
    }
  }
}
