.review-form-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .review-form {
    padding: 1.25em;
    border-radius: 1em;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.75);
    width: 700px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 750px) {
      align-self: center;
      width: 97.5%;
    }

    .rating-box {
      display: flex;
      margin: 0;
      padding-bottom: 0.1em;

      .rating-label {
        margin-right: 1.5em;
        width: 6.5em;
      }

      .rating-description {
        padding: 0.1em 0;

        @media screen and (max-width: 835px) {
          padding: 0.25em 0;
        }
      }
    }

    .text-field {
      margin: 0.75em 0;
    }

    .selection-group {
      margin: 0.5em 0;

      .selection-label {
        margin-bottom: 0.5em;

        &:active,
        &:focus,
        &:hover {
          color: #558b2f !important;
        }
      }

      .radio-group {
        display: flex;
        flex-direction: row !important;

        .select-label {
          width: fit-content;
        }
      }
    }

    .upload-photo-container {
      .upload-container {
        width: fit-content;
        margin-top: 0.5em;
      }

      .photo-preview-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
        width: 100%;
        height: fit-content;
        margin-top: 1em;

        .image-list {
          flex-wrap: wrap;
          transform: translateZ(0);
          transition: all 0.4s ease 0s;
          height: fit-content;
          width: 100%;

          .image-box {
            height: fit-content;

            div {
              display: flex;
              flex-direction: column;
              margin: 0 0.25em;
              height: 100px;
              width: auto;

              .clear-btn {
                align-self: flex-end;
                width: fit-content;
                padding: 1px;
                z-index: 100;
                background-color: grey;
                color: white;

                svg {
                  font-size: 1rem;
                }
              }

              img {
                justify-self: flex-end;
                align-self: flex-start;
                width: 92%;
                height: 92.5%;
                top: 6.5px;
                bottom: 0;
                left: 0;
                position: absolute;
                transform: none;
              }
            }
          }
        }
      }
    }

    .rating-group {
      margin-top: 1em;
    }

    .submit-review {
      border-top: 2px solid black;
      margin-top: 1em;

      .disclosure-container {
        margin-top: 1.5em;

        .disclosure {
          width: 100%;
          display: flex;
          align-items: flex-start;

          .MuiTypography-body1 {
            font-size: 0.75rem;

            @media screen and (min-width: 600px) {
              font-size: 0.78rem;
            }

            @media screen and (min-width: 960px) {
              font-size: 0.8rem;
            }
          }

          .disclosure-statement {
            padding-top: 0;
            padding-right: 0.55em;
          }
        }
      }
    }

    .buttons-group {
      display: flex;
      justify-content: space-around;
      margin: 1.5em 0;

      .button-input {
        margin: 0 1em;
        width: 100%;

        @media screen and (max-width: 650px) {
          margin: 0 0.5em;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
