.review-form-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .review-form {
    padding: 1.25em;
    border-radius: 1em;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.75);
    width: 600px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 650px) {
      align-self: center;
      width: 97.5%;
      font-size: smaller;
    }

    .rating-box {
      display: flex;
      margin: 0;
      padding-bottom: 0.1em;

      .rating-label {
        margin-right: 1.5em;
        width: 6.5em;
      }

      .rating-description {
        padding: 0.1em 0;

        @media screen and (max-width: 835px) {
          padding: 0.25em 0;
        }
      }
    }

    .text-field {
      margin: 0.75em 0;
    }

    .selection-group {
      margin: 0.5em 0;

      .selection-label {
        margin-bottom: 0.5em;

        &:active,
        &:focus,
        &:hover {
          color: #558b2f !important;
        }
      }

      .radio-group {
        display: flex;
        flex-direction: row !important;

        .select-label {
          width: fit-content;
        }
      }

      .upload-container {
        width: fit-content;
        margin-top: 0.5em;
      }
    }

    .rating-group {
      margin-top: 1em;
    }

    .submit-review {
      border-top: 2px solid black;
      margin-top: 1em;

      .disclosure-container {
        margin-top: 1.5em;

        .disclosure {
          width: 100%;
          display: flex;
          font-size: 16px !important;
          align-items: flex-start;

          .MuiTypography-body1 {
            font-size: 0.75rem;
          }

          .disclosure-statement {
            padding-top: 0;
            padding-right: 0.55em;
          }
        }
      }
    }

    .buttons-group {
      display: flex;
      justify-content: space-around;
      margin: 1.5em 0;

      .button-input {
        margin: 0 1em;
        width: 100%;

        @media screen and (max-width: 650px) {
          margin: 0 0.5em;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
