.customer-reviews {
  .review-header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 1em;

    .review-header-1 {
      width: 60%;
      display: flex;
      align-items: center;

      .sort-by-container {
        margin-left: 2em;

        @media screen and (max-width: 600px) {
          margin-left: 1.25em;
        }
      }
    }

    .review-header-2 {
      width: 40%;
      display: flex;
      justify-content: flex-end;

      .review-btn {
        height: fit-content;
      }
    }
  }

  .no-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3em;
    padding: 0 2em;
  }
}
