.restaurant-form-container {
  @media screen and (min-width: 960px) {
    width: 600px;
  }

  .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5em;
    margin-bottom: 1em;

    .page-icon {
      margin-right: 0.25em;

      @media screen and (max-width: 600px) {
        font-size: 1.8rem;
      }
    }
  }

  .restaurant-form {
    width: 100%;
    min-width: 20em;
    display: flex;
    flex-direction: column;

    .upload-container {
      margin: 0 0 -1em;
      justify-content: center;
    }
  }

  .text-field,
  .select-field {
    margin: 0.75em 0;
  }

  .selection-group {
    margin-top: 0.8em;

    .selection-label {
      margin-bottom: 0.5em;
    }

    .radio-group {
      display: flex;
      flex-direction: row !important;

      .select-label {
        width: fit-content;
        text-transform: capitalize;
      }
    }
  }

  .buttons-group {
    display: flex;
    justify-content: space-around;
    margin: 2.5em 0 1.5em;

    .button-input {
      margin: 0 1em;
      width: 100%;

      @media screen and (max-width: 650px) {
        margin: 0 0.5em;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
