.create-review-page {
  display: flex;
  justify-content: center;
  margin: 3em 1em 5em;

  .review-form {
    padding: 1.25em;
    border-radius: 1em;
    box-shadow: 0 2.5px 20px 10px rgba(0, 0, 0, 0.25);
    min-width: 25em;

    @media screen and (max-width: 650px) {
      font-size: smaller;
    }
  }

  .buttons-group {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }
}
