.create-review-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em 5em;
  background: url(../../assets/background/create-review-background.jpg)
    no-repeat right top;
  background-size: cover;

  @media screen and (max-width: 835px) {
    padding: 3em 0.25em 5em;
  }

  .review-success {
    width: 50%;
    text-align: center;

    @media screen and (max-width: 1400px) {
      width: 75%;
    }

    @media screen and (max-width: 900px) {
      width: 85%;
    }

    .review-header {
      margin: 1.5em 0;

      .review-name {
        font-weight: 600;
        font-size: 1.5em;
        margin: 0.5em 0;
        font-style: italic;

        @media screen and (max-width: 900px) {
          font-weight: 600;
          font-size: 1.2em;
        }
      }
    }

    .review-body {
      margin: 1.52em 0;
      padding: 1.75em 1.5em 1.25em 1.5em;
      background: rgba(255, 255, 255, 0.5);
      text-align: left;

      @media screen and (max-width: 900px) {
        margin: 0;
      }

      .review-detail {
        color: rgba(0, 0, 0, 0.75);
        margin-bottom: 0.5em;

        .data-title {
          text-transform: capitalize;
          font-weight: 500;
        }
      }
    }

    .review-actions {
      margin: 1.5em 0;
      width: 100%;

      h5 {
        margin-bottom: 0.5em;
      }

      .btn-next {
        width: 100%;
        margin: 0.5em 0;
      }
    }
  }
}
