.restaurant-preview-2-container {
    margin: 1em 0;

    .preview-2-container {
        width: 100%;

        .restaurant-info {
            display: flex;
            justify-content: flex-start;



            .restaurant-image {
                width: 10vw;

                @media screen and (max-width: 1700px) {
                    width: 30%;
                }
            }

            .restaurant-detail {
                width: 75%;
                @media screen and (max-width: 750px) {
                    width: 65%;
                    padding-bottom: 0;
                }

                .restaurant-features {
                    font-style: italic;
                }

                .restaurant-location {
                    color: rgba(0, 0, 0, 0.75);
                }
            }
        }

        .restaurant-action {
            position: absolute;
            margin-right: 0.3em;
            justify-content: flex-end;
            bottom: 0.5em;
            right: 2em;

            @media screen and (max-width: 750px) {
                position: relative;
                bottom: 0;
                right: 0;
            }
        }
    }
}