.restaurant-preview-2-container {
  margin: 1em 0;
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);

  // @media screen and (max-width: 800px) {
  //   flex-direction: column;
  //   width: fit-content;
  // }

  &:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }

  .restaurant-image {
    width: 30%;
    border-radius: 5px 0 0 5px;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 1385px) {
      height: 185px;
      // width: 35%;
    }
    @media screen and (max-width: 800px) {
      height: 185px;
      width: 37%;
    }
    @media screen and (max-width: 700px) {
      height: 152px;
      width: 42%;
    }
  }

  .restaurant-detail {
    width: 59%;
    padding: 0.75em 1em;

    @media screen and (max-width: 700px) {
      width: 65%;
      padding-top: 0.5em;
      padding-bottom: 0;
    }
    @media screen and (max-width: 600px) {
      padding-top: 0.2em;
    }

    h5 {
      margin-bottom: 0.4em;

      @media screen and (max-width: 700px) {
        margin-bottom: 0.1em;
      }

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        font-weight: 500;
      }
    }

    p {
      @media screen and (max-width: 600px) {
        font-size: 0.8rem;
      }
    }

    .restaurant-features {
      font-style: italic;
      text-transform: capitalize;
    }

    .restaurant-location {
      color: rgba(0, 0, 0, 0.75);
    }
  }

  .restaurant-action {
    position: relative;
    margin-right: 0.3em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 14em;
    bottom: 0.5em;
    padding-right: 0.5em;

    .review-btn {
      height: fit-content;
    }
  }
}
