.restaurant-preview-2-container {
  margin: 1em 0;

  .preview-2-container {
    width: 100%;

    .restaurant-info {
      display: flex;
      justify-content: flex-start;

      .restaurant-image {
        width: 20%;

        @media screen and (max-width: 2000px) {
          width: 25%;
        }
        @media screen and (max-width: 1700px) {
          width: 30%;
        }
        @media screen and (max-width: 1300px) {
          width: 35%;
        }
        @media screen and (max-width: 800px) {
          height: 185px;
          width: 37%;
        }
        @media screen and (max-width: 700px) {
          height: 152px;
          width: 42%;
        }
      }

      .restaurant-detail {
        width: 75%;
        padding-top: 0;

        @media screen and (max-width: 700px) {
          width: 65%;
          padding-top: 0.5em;
          padding-bottom: 0;
        }
        @media screen and (max-width: 600px) {
          padding-top: 0.2em;
        }

        h5 {
          margin-bottom: 0.55em;

          @media screen and (max-width: 700px) {
            margin-bottom: 0.3em;
          }
        }

        p {
          @media screen and (max-width: 600px) {
            font-size: 0.8rem;
          }
        }

        .restaurant-features {
          font-style: italic;
        }

        .restaurant-location {
          color: rgba(0, 0, 0, 0.75);
        }
      }
    }

    .restaurant-action {
      position: absolute;
      margin-right: 0.3em;
      justify-content: flex-end;
      bottom: 0.5em;
      right: 2em;

      @media screen and (max-width: 700px) {
        position: relative;
        bottom: 0.3em;
        right: 0;
        padding-bottom: 0;
        padding-right: 0;
      }
      @media screen and (max-width: 600px) {
        bottom: 0;
      }
    }
  }
}
