.reactEasyCrop_Container {
  position: relative !important;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.reactEasyCrop_Image {
  position: relative !important;
  height: 243px;
  width: auto;
}

.upload-avatar-container {
  width: 140px;
  height: 140px;

  @media screen and (max-width: 600px) {
    width: 130px;
    height: 130px;
  }

  .avatar-edit-container {
    width: fit-content;
    margin-top: -1.85em;

    .avatar-edit-btn {
      text-transform: none;
      background: white;
      font-size: 14px;
      padding: 2px 0;
      min-height: 30px;

      &:hover {
        background: white;
      }
    }

    .avatar-edit-option {
      font-size: 16px;
      min-height: 30px;
      cursor: pointer;
    }
  }
}
