.reactEasyCrop_Container {
  position: relative !important;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.reactEasyCrop_Image {
  position: relative !important;
  height: 243px;
  width: auto;
}
