.restaurant-preview-1-container {
  margin: 0.5em;
  width: 15em;
  background: white;
  border-radius: 5px;
  padding-bottom: 0.5em;

  .restaurant-image {
    width: 100%;
  }

  .restaurant-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 175px);

    .restaurant-detail {
      padding: 0.25em 0.75em;

      h5 {
        margin-bottom: 0.25em;
      }

      .restaurant-features {
        margin-top: -0.75em;
        font-style: italic;
        text-transform: capitalize;
      }

      .restaurant-location {
        color: rgba(0, 0, 0, 0.75);
      }
    }

    .restaurant-action {
      padding: 0.25em 0.75em;
      display: flex;
      justify-content: flex-end;

      .review-btn {
        padding-right: 0.5em;

        .review-icon {
          padding-right: 0.15em;
          font-size: 28px;
        }
      }
    }
  }
}
