.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bdbdbd;
  text-align: center;

  .fa {
    margin: 0 0.5em;
    padding-top: 0.1em;
  }

  .footer-link {
    color: #bdbdbd;
    margin: 0 0.5em;

    &:hover {
      color: #ffa000;
      text-decoration: none;
    }
  }
}
