.footer-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: 9vh;
  min-height: 4rem;
  padding: 1.3em 0;
  background: #37474f;
  display: flex;
  justify-content: center;

  .footer-content {
    display: flex;
    color: #bdbdbd;
    text-align: center;
    align-items: center;

    .fa {
      margin: 0 0.5em;

      @media screen and (max-width: 600px) {
        padding-top: 0.25em;
      }
    }

    .footer-link {
      color: #bdbdbd;
      margin: 0 0.5em;

      &:hover {
        color: #ffa000;
        text-decoration: none;
      }
    }
  }
}
