.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#BDBDBD;

    .fa {
        margin: 0 0.5em;
        padding-top: 0.1em;
    }

    .footer-link {
        color: #BDBDBD;
        margin: 0 0.5em;

        &:hover {
            color: #FFA000;
            text-decoration: none;
        }
    }
}

