.select-button {
  border-left: 1.5px solid rgb(184, 184, 184);
  height: 100%;
  width: 100%;

  &:first-child {
    border-left: none;
  }

  &:hover {
    color: #91cb3e;
    box-shadow: none;
    filter: brightness(105%);
  }

  label {
    cursor: pointer;

    input[type="radio"],
    input[type="checkbox"] {
      display: none;
      position: absolute;
      cursor: pointer;
      margin: 0;
      width: 0;
      height: 0;
    }

    .btn-label {
      padding: 0.5em 1em;
      font-size: 0.85em;
      cursor: pointer;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      text-align: center;
      position: relative;
    }
  }
}

input[type="radio"]:checked + .btn-label,
input[type="checkbox"]:checked + .btn-label {
  background: linear-gradient(45deg, #91cb3e, #7ac74f);
  color: white;
  font-weight: 600;
}
