.search-bar-container {
  width: 20vw;
  min-width: 18em;
  margin: 0.5em 0.25em;

  @media screen and (max-width: 836px) {
    min-width: 15em;
  }
  @media screen and (max-width: 697px) {
    min-width: 12em;
  }
  @media screen and (max-width: 556px) {
    min-width: 10.5em;
  }

  .search-input {
    width: 100%;
  }
}
