.explore-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em 5em;
  background: url(../../assets/background/explore-background.jpg) no-repeat
    center center;
  background-size: cover;

  @media screen and (max-width: 1000px) {
    padding: 3em 1em 5em;
  }
  .explore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-width: 20em;

    @media screen and (max-width: 2470px) {
      width: 70%;
    }
    @media screen and (max-width: 2130px) {
      width: 80%;
    }
    @media screen and (max-width: 1875px) {
      width: 90%;
    }
    @media screen and (max-width: 1680px) {
      width: 100%;
    }

    h2 {
      margin-bottom: 0.25em;

      @media screen and (max-width: 960px) {
        font-weight: 400;
      }
    }

    .explore-header {
      display: flex;
      width: 65em;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 2em;
      padding: 0 2em;

      @media screen and (max-width: 1519px) {
        width: 50em;
      }
      @media screen and (max-width: 1163px) {
        width: 40em;
        justify-content: center;
      }
      @media screen and (max-width: 570px) {
        width: 30em;
      }

      .explore-header-1 {
        display: flex;
        margin: 0.5em 0;

        @media screen and (max-width: 697px) {
          width: 80%;
          justify-content: center;
        }
      }
    }

    .explore-body {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      justify-content: center;

      @media screen and (max-width: 1000px) {
        width: 100%;
      }

      .find-no-match {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em 0 0.5em 0;

        h5 {
          margin: 0.25em 0;
          text-align: center;
        }
      }
    }
  }
}
